* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 1px black;
  width: 640px;
  height: 640px;
}

img {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: 12px;
    width: 50%;
}

h1, label[for="gender"], input[type="radio"], label[for="subject"], button {
  margin-left: 30px;
}

input[type="text"], #sbj {
  margin: 6px 10px 12px 30px;
  padding:10px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}

button:hover {
  background-color: lightgreen;
  box-shadow: 2px 2px #ccc;
}

#banner {
  margin: 6px 10px 12px 30px;
  padding:10px;
  color: #248f24;
  border: 1px solid green;
  border-radius: 3px;
  background-color: #ccffe6;
  display: none;
}